@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
a img {
  border: 0;
  vertical-align: top;
}
ul,
ol,
li {
  list-style: none;
}
i,
em,
address {
  font-style: normal;
}
figure,
form {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: top;
}
label {
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button {
  cursor: pointer;
  -webkit-appearance: none;
  *overflow: visible;
  box-sizing: content-box;
  border: 0 none;
  background: transparent;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
  vertical-align: middle;
}
input[type="search"] {
  -webkit-appearance: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
td {
  vertical-align: middle;
}
select {
  vertical-align: middle;
}
/* set for html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
::-moz-selection {
  background: gold;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: gold;
  color: #fff;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: #aaa;
}
:-moz-placeholder {
  color: #aaa;
}
input::-webkit-input-placeholder {
  color: #aaa;
}
textarea::-webkit-input-placeholder {
  color: #aaa;
}
mark {
  background-color: #fefcb4;
}
/* Helper classes */
.ir {
  position: relative;
  overflow: hidden;
}
.ir .cont {
  position: absolute;
  z-index: 0;
}
.ir .img {
  position: relative;
  width: 100%;
  z-index: 10;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.blind {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* layout
--------------------------------------------------------------- */
html {
  background-color: #fff;
}
body {
  min-width: 320px;
  color: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.6em;
}
em {
  color: #241909;
}
img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
a {
  color: #666666;
}
.touch select {
  font-size: 16px;
}
#skipnav {
  position: absolute;
  left: -100%;
  color: #fff;
  background: #333333;
  font-size: 1.4em;
}
#skipnav:focus {
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 12px;
  padding: 5px 0 15px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  outline: 1px dotted #666;
}
/* common
--------------------------------------------------------------- */
input[type="text"],
input[type="num"],
input[type="tel"],
input[type="file"],
input[type="password"],
input[type="email"],
input[type="search"],
input.text {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding: 11px 0;
  color: #666666;
  font-size: 12px;
  line-height: 1.4;
  text-indent: 1em;
  border: 1px solid #d6d6d6;
  background: #fff;
  vertical-align: middle;
}
input[type="text"].text-max,
input[type="num"].text-max,
input[type="tel"].text-max,
input[type="file"].text-max,
input[type="password"].text-max,
input[type="email"].text-max,
input[type="search"].text-max,
input.text.text-max {
  /*display: block;*/
  width: 99.5%;
}
textarea {
  width: 98.5%;
  padding: 1em 0 1em 1.5%;
  color: #666666;
  font-size: 12px;
  line-height: 1.4;
  border: 1px solid #d6d6d6;
  background: #fcfcfc;
}
.flexible-obj {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
}
.flexible-obj > iframe,
.flexible-obj > object,
.flexible-obj > embed,
.flexible-obj > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  *height: auto;
  *min-height: 100%;
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NanumGothic.eot);
  src: local('Apple SD Gothic Neo'), url(fonts/NanumGothic.eot?#iefix) format('embedded-opentype'), url(fonts/NanumGothic.woff) format('woff'), url(fonts/NanumGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'UbuntuTitling-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/UbuntuTitling-Bold.eot);
  src: local('Apple SD Gothic Neo'), url(fonts/UbuntuTitling-Bold.eot?#iefix) format('embedded-opentype'), url(fonts/UbuntuTitling-Bold.woff) format('woff'), url(fonts/UbuntuTitling-Bold.ttf) format('truetype');
}
body,
input,
textarea,
select,
button {
  font-family: 'Nanum Gothic', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, sans-serif;
}
.transition,
.header,
.nav-menu-icon,
.nav-menu-icon:before,
.nav-menu-icon:after {
  -webkit-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
}
/*  header
* -------------------------------------------------- */
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 160px;
  background-color: transparent;
  z-index: 100;
}
.header .l-header {
  max-width: 980px;
  margin: 0 auto;
}
.header .h1 {
  padding: 10px 0;
  font-size: 1em;
  color: #f06da1;
  text-align: center;
}
.header.is-fixed {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only all and (max-width: 480px) {
  .header .h1 {
    display: none;
  }
}
.gnb {
  padding: 20px 0;
}
.gnb-container {
  position: relative;
  float: right;
  min-width: 480px;
}
.gnb a {
  margin: 10px 20px 10px 20px;
  color: #ffffff;
}
.nav-menu {
  position: absolute;
  top: 20px;
  right: 30px;
  display: block;
  width: 35px;
  height: 27px;
  margin: 0 auto;
}
.nav-menu-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  width: 35px;
  height: 2px;
  background: #999999;
  vertical-align: middle;
}
.nav-menu-icon:before,
.nav-menu-icon:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #999999;
}
.nav-menu-icon:before {
  bottom: 8px;
}
.nav-menu-icon:after {
  top: 8px;
}
.nav-menu.is-active .nav-menu-icon {
  background: transparent;
}
.nav-menu.is-active .nav-menu-icon:before,
.nav-menu.is-active .nav-menu-icon:after {
  background: red;
}
.nav-menu.is-active .nav-menu-icon:before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-menu.is-active .nav-menu-icon:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-menu.is-mobile .nav-menu-icon {
  background: red;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.nav-menu.is-mobile .nav-menu-icon:before,
.nav-menu.is-mobile .nav-menu-icon:after {
  background: red;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nav-menu.is-mobile .nav-menu-icon:before {
  bottom: 0;
}
.nav-menu.is-mobile .nav-menu-icon:after {
  top: 0;
}
/*  main area
* -------------------------------------------------- */
.footer {
  padding: 40px 0;
  color: #ffffff;
  background: #191919;
  border-top: 10px solid #333333;
  border-bottom: 10px solid #333333;
  font-size: 13px;
}
/*  layout
* -------------------------------------------------- */
.l-wrap {
  max-width: 980px;
  padding: 0 9.375%;
  margin: 0 auto;
}
@media only all and (max-width: 1023px) {
  .l-wrap {
    padding: 0 7.5%;
  }
}
@media only all and (max-width: 767px) {
  .l-wrap {
    padding: 0 6.25%;
  }
}
@media only all and (max-width: 480px) {
  .l-wrap {
    padding: 0 3.125%;
  }
}
@media only all and (min-width: 1280px) {
  .l-wrap {
    padding: 0 12.5%;
  }
}
sup {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top: -0.8em;
  font-size: .6em;
  vertical-align: middle;
  line-height: 1;
}
.colorizeHover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.colorizeHover:focus,
.colorizeHover:hover,
.colorizeHover.on {
  text-decoration: none;
}
.colorizeHover:focus img,
.colorizeHover:hover img,
.colorizeHover.on img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
}
.colorizeHover .img-wrapper img {
  width: 100%;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 1px;
  color: #ffffff;
  text-decoration: none;
  vertical-align: top;
}
button.btn {
  padding: 0;
}
.btn span {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px 12px;
  min-width: 170px;
  line-height: 1.5;
  z-index: 2;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn:before,
.btn:after {
  content: '';
  padding: 0;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #ffffff;
}
.btn:before {
  left: 0;
  width: 0;
}
.btn:after {
  width: 100%;
  left: 100%;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn:hover span {
  color: #333333;
}
.btn:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.btn:hover:after {
  width: 100%;
  left: 0;
  -webkit-transition: 0s 0.2s ease-in-out;
  -moz-transition: 0s 0.2s ease-in-out;
  -ms-transition: 0s 0.2s ease-in-out;
  -o-transition: 0s 0.2s ease-in-out;
  transition: 0s 0.2s ease-in-out;
}
.btn.btn-theme {
  color: #f06da1;
  border-color: #f06da1;
}
.btn.btn-theme:before,
.btn.btn-theme:after {
  background-color: #f06da1;
}
.btn.btn-theme:hover span {
  color: #241909;
}
.btn.btn-em {
  color: #241909;
  border-color: #241909;
}
.btn.btn-em:before,
.btn.btn-em:after {
  background-color: #241909;
}
.btn.btn-em:hover span {
  color: #f06da1;
}
@media only all and (max-width: 1023px) {
  .btn span {
    padding: 10px 8px;
    min-width: 125px;
  }
}
.func {
  zoom: 1;
  *zoom: 1;
  text-align: center;
  margin-top: 1em;
}
.func:before {
  content: '';
  display: block;
}
.func:after {
  content: '';
  display: table;
  clear: both;
}
.flexible-obj .video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  *height: auto;
  background: #000000;
  zoom: 1;
}
.flexible-obj .video-player > object {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.flexible-obj .video-iframe {
  width: 100%;
  height: 100%;
  *height: auto;
  zoom: 1;
  margin: -2px -2px 0 -2px;
}
