@charset "UTF-8";
/* --------------------------------------------------
 * keyframes
 * -------------------------------------------------- */

// keyframes
@-webkit-keyframes posX {
	0% { -webkit-transform: translateX(100%) }
	100% { -webkit-transform: translateX(-100%) }
}
@keyframes posX {
	0% { transform: translateX(100%) }
	100% { transform: translateX(-100%) }
}
@-webkit-keyframes posY {
	0% { -webkit-transform: translateY(-100%) }
	100% { -webkit-transform: translateY(100%) }
}
@keyframes posY {
	0% { transform: translateY(-100%) }
	100% { transform: translateY(100%) }
}
@-webkit-keyframes posZ {
	0% { -webkit-transform: translateZ(-300px) }
	100% { -webkit-transform: translateZ(300px) }
}
@keyframes posZ {
	0% { transform: translateZ(-300px) }
	100% { transform: translateZ(300px) }
}
@-webkit-keyframes posXY {
	0% { -webkit-transform: translateX(100%), translateY(100%) }
	100% { -webkit-transform: translateX(-100%), translateY(-100%) }
}
@keyframes posXY {
	0% { transform: translate(100%, 100%) }
	100% { transform: translate(-100%, -100%) }
}

@-webkit-keyframes scaleIn {
	from { -webkit-transform: scale(1) }
	to   { -webkit-transform: scale(0) }
}
@keyframes scaleIn {
	from { transform: scale(1) }
	to   { transform: scale(0) }
}
@-webkit-keyframes scaleOut {
	from { -webkit-transform: scale(1) }
	to   { -webkit-transform: scale(1.5) }
}
@keyframes scaleOut {
	from { transform: scale(1) }
	to   { transform: scale(1.5) }
}
@-webkit-keyframes scaleFadein {
	from { -webkit-transform: scale(1); opacity: 0; }
	to   { -webkit-transform: scale(0); opacity: 1; }
}
@keyframes scaleFadein {
	from { transform: scale(1); opacity: 0; }
	to   { transform: scale(0); opacity: 1; }
}
@-webkit-keyframes scaleFadeout {
	from { -webkit-transform: scale(1); opacity: 1; }
	to   { -webkit-transform: scale(1.5); opacity: 0; }
}
@keyframes scaleFadeout {
	from { transform: scale(1); opacity: 1; }
	to   { transform: scale(1.5); opacity: 0; }
}

@-webkit-keyframes rotateX {
	from { -webkit-transform: rotateX(0deg) }
	to   { -webkit-transform: rotateX(360deg) }
}
@keyframes rotateX {
	from { transform: rotateX(0deg) }
	to   { transform: rotateX(360deg) }
}
@-webkit-keyframes rotateY {
	from { -webkit-transform: rotateY(0deg) }
	to   { -webkit-transform: rotateY(360deg) }
}
@keyframes rotateY {
	from { transform: rotateY(0deg) }
	to   { transform: rotateY(360deg) }
}
@-webkit-keyframes rotateZ {
	from { -webkit-transform: rotateZ(0deg) }
	to   { -webkit-transform: rotateZ(360deg) }
}
@keyframes rotateZ {
	from { transform: rotateZ(0deg) }
	to   { transform: rotateZ(360deg) }
}
@-webkit-keyframes rotate {
	from { -webkit-transform: rotate(0deg) }
	to   { -webkit-transform: rotate(360deg) }
}
@keyframes rotate {
	from { transform: rotate(0deg) }
	to   { transform: rotate(360deg) }
}
@-webkit-keyframes rotateHalf {
	from { -webkit-transform: rotate(-180deg) }
	to   { -webkit-transform: rotate(0deg) }
}
@keyframes rotateHalf {
	from { transform: rotate(-180deg) }
	to   { transform: rotate(0deg) }
}
@-webkit-keyframes rotateFlip {
	from { -webkit-transform: rotateX(0deg) }
	to   { -webkit-transform: rotateX(360deg) }
}
@keyframes rotateFlip {
	from { transform: rotateX(0deg) }
	to   { transform: rotateX(360deg) }
}

@-webkit-keyframes opacityIn {
	from { opacity: 0 }
	to   { opacity: 1 }
}
@keyframes opacityIn {
	from { opacity: 0 }
	to   { opacity: 1 }
}
@-webkit-keyframes opacityOut {
	from { opacity: 1 }
	to   { opacity: 0 }
}
@keyframes opacityOut {
	from { opacity: 1 }
	to   { opacity: 0 }
}
@-webkit-keyframes opacitySclae {
	from { opacity: 1; -webkit-transform: scale(1) }
	to   { opacity: 0; -webkit-transform: scale(2) }
}
@keyframes opacitySclae {
	from { opacity: 1; transform: scale(1) }
	to   { opacity: 0; transform: scale(2) }
}
@-webkit-keyframes opacityPos {
	from { opacity: 0; -webkit-transform: translateY(0%) }
	to   { opacity: 1; -webkit-transform: translateY(-100%) }
}
@keyframes opacityPos {
	from { opacity: 0; transform: translateY(0%) }
	to   { opacity: 1; transform: translateY(-100%) }
}

@-webkit-keyframes sideNav {
	0% { -webkit-transform: translateX(0%) }
	25% { -webkit-transform: translateX(80%) }
	50% { -webkit-transform: translateX(80%) }
	75% { -webkit-transform: translateX(0%) }
	100% { -webkit-transform: translateX(0%) }
}
@keyframes sideNav {
	0% { transform: translateX(0%) }
	25% { transform: translateX(80%) }
	50% { transform: translateX(80%) }
	75% { transform: translateX(0%) }
	100% { transform: translateX(0%) }
}

@-webkit-keyframes fade {
	0% { opacity: 1 }
	100% { opacity: 0 }
}
@keyframes fade {
	0% { opacity: 1 }
	100% { opacity: 0 }
}

@-webkit-keyframes flipHalf {
	0% { -webkit-transform: rotateX(0deg) }
	100% { -webkit-transform: rotateX(90deg) }
}
@keyframes flipHalf {
	0% { transform: rotateX(0deg) }
	100% { transform: rotateX(90deg) }
}
@-webkit-keyframes flipScale {
	0% { -webkit-transform: scale(1) }
	100% { -webkit-transform: scale(0) }
}
@keyframes flipScale {
	0% { transform: scale(1) }
	100% { transform: scale(0) }
}

@-webkit-keyframes bounceScale {
	0% { -webkit-transform: scale(8, 8) }
	50% { -webkit-transform: scale(8, 1) }
	100% { -webkit-transform: scale(1, 1) }
}
@keyframes bounceScale {
	0% { transform: scale(8, 8) }
	50% { transform: scale(8, 1) }
	100% { transform: scale(1, 1) }
}

@-webkit-keyframes rotateSquare {
	0% { -webkit-transform: rotate3d(0, 0, 0, 0deg) rotate(0deg)}
	50% { -webkit-transform: rotate3d(1, -1, 0.8, 90deg) rotate(180deg)}
	100% { -webkit-transform: rotate3d(1, -1, 0.8, 90deg) rotate(720deg)}
}
@keyframes rotateSquare {
	0% { transform: rotate3d(0, 0, 0, 0deg) rotate(0deg)}
	50% { transform: rotate3d(1, -1, 0.8, 90deg) rotate(180deg)}
	100% { transform: rotate3d(1, -1, 0.8, 90deg) rotate(720deg)}
}

@-webkit-keyframes ccScale {
	0% { -webkit-transform: scale(1) translateY(0%) }
	70% { -webkit-transform: scale(0.75) translateY(-300%) }
	75% { -webkit-transform: scale(1) translateY(150%) }
	100% { -webkit-transform: scale(9) translateY(0%) }
}
@keyframes ccScale {
	0% { transform: scale(1) translateY(0%) }
	70% { transform: scale(0.75) translateY(-300%) }
	75% { transform: scale(1) translateY(150%) }
	100% { transform: scale(9) translateY(0%) }
}

@-webkit-keyframes exampleAni {
	0% { -webkit-transform: translateY(-200%) }
	100% { -webkit-transform: translateY(200%) }
}
@keyframes exampleAni {
	0% { transform: translateY(-200%) }
	100% { transform: translateY(200%) }
}

@-webkit-keyframes drawAni {
	0% { -webkit-transform: scale(1, 1) }
	50% { -webkit-transform: scale(4, 1) }
	100% { -webkit-transform: scale(8, 8) }
}
@keyframes drawAni {
	0% { transform: scale(1, 1) }
	50% { transform: scale(4, 1) }
	100% { transform: scale(8, 8) }
}

@-webkit-keyframes coverAni {
	0% { -webkit-transform: translate(450%, 450%) rotate(-30deg) }
	100% { -webkit-transform: translate(0%, 0%) rotate(-30deg) }
}
@keyframes coverAni {
	0% { transform: translate(450%, 450%) rotate(-30deg) }
	100% { transform: translate(0%, 0%) rotate(-30deg) }
}

@-webkit-keyframes inView {
	0% { -webkit-transform: translateX(-100%);}
	100% { -webkit-transform: translateX(0%);}
}
@keyframes inView {
	0% { transform: translateX(-100%);}
	100% { transform: translateX(0%);}
}
