@charset "UTF-8";
/* --------------------------------------------------
 * modules
 * -------------------------------------------------- */
.break-word {
	word-break: keep-all;
	word-wrap: break-word;

	> span {
		white-space: nowrap;
	}

}
.btn {
	display: inline-block;
	padding: .55em 2em .65em;
	border: 1px solid rgba(255,255,255,0.5);
	color: #fff;
	font-weight: normal;
	vertical-align: middle;
	@include transition(all 0.1s ease-in);

	&:hover,
	&:focus {
		text-decoration: none;
		background-color: rgba(255,255,255,0.95);
		color: $ink;
	}

	&-translucent {
		background-color: rgba(0,0,0,0.5);
		border: none;

		&:hover,
		&:focus {
			background-color: rgba(0,0,0,0.95);
			color: #fff;
			@include shadow(0 1px 3px rgba(0,0,0,0.5));
		}
	}
}

.flexible-obj {
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
		height: 100%;
	}

	@media only all and (min-width: 1280px) {
		video {
			width: 100%;
			top: auto;
			bottom: 0;
			height: auto;
		}
	}
}
