<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>TEST</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="description">
<meta name="keywords" content="keywords">
<meta name="author" content="author">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
<link rel="stylesheet" href="./static/css/common.css">
<link rel="stylesheet" href="./static/css/style.css">
<link rel="icon" href="./favicon.ico">
<script src="./static/js/modernizr.custom.min.js"></script>
</head>
<body>
<a href="#main" id="skipnav">메뉴 건너뛰기</a>
<header id="header" class="header">
	<div class="l-header">
		<h1 class="h1">TEST PAGE</h1>
	</div>
	<div class="">
		<a href="#" id="" class="nav-menu"><span class="nav-menu-icon"><span class="blind">메뉴열기</span></span></a>
	</div>
</header>
<main id="main" role="main" class="main">
	<section class="section-visual">
		<div class="section-visual-box">
			<div class="section-visual-thumb">
				<div class="tubular-bg">
					<div id="full-youtube-video-container"></div>
					<a href="http://youtu.be/U04Iri51KSI" class="tubular-thumb">
						<img src="static/images/main/thumb_tubular.gif" alt="">
						<i class="icon icon-media"><span class="blind">영상</span></i>
					</a>
					<div class="tubular-layer">
						<h1 class="h"><span>SHERLOCK</span> COMING BACK</h1>
						<p><i class="effect">HE's BACK</i></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-portfolio">
		<div class="l-wrap">
			<h1 class="blind">TEST TEXT</h1>
		</div>
		<div class="section-portfolio-slider">
			<div class="section-portfolio-item">
				<div class="portfolio-item" target="_blank">
					<a href="#" class="thumb">
						<img src="../static/images/_temp/@thumb_pf.jpg" alt="">
					</a>
					<div class="cover">
						<ul class="cover-desc">
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-item" target="_blank">
					<a href="#" class="thumb">
						<img src="../static/images/_temp/@thumb_pf.jpg" alt="">
					</a>
					<div class="cover">
						<ul class="cover-desc">
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-item" target="_blank">
					<a href="#" class="thumb">
						<img src="../static/images/_temp/@thumb_pf.jpg" alt="">
					</a>
					<div class="cover">
						<ul class="cover-desc">
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section-portfolio-item">
				<div class="portfolio-item" target="_blank">
					<a href="#" class="thumb">
						<img src="../static/images/_temp/@thumb_pf.jpg" alt="">
					</a>
					<div class="cover">
						<ul class="cover-desc">
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-item" target="_blank">
					<a href="#" class="thumb">
						<img src="../static/images/_temp/@thumb_pf.jpg" alt="">
					</a>
					<div class="cover">
						<ul class="cover-desc">
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-item" target="_blank">
					<a href="#" class="thumb">
						<img src="../static/images/_temp/@thumb_pf.jpg" alt="">
					</a>
					<div class="cover">
						<ul class="cover-desc">
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section-portfolio-item">
				<div class="portfolio-item" target="_blank">
					<a href="#" class="thumb">
						<img src="../static/images/_temp/@thumb_pf.jpg" alt="">
					</a>
					<div class="cover">
						<ul class="cover-desc">
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-item" target="_blank">
					<a href="#" class="thumb">
						<img src="../static/images/_temp/@thumb_pf.jpg" alt="">
					</a>
					<div class="cover">
						<ul class="cover-desc">
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
						</ul>
					</div>
				</div>
				<div class="portfolio-item" target="_blank">
					<a href="#" class="thumb">
						<img src="../static/images/_temp/@thumb_pf.jpg" alt="">
					</a>
					<div class="cover">
						<ul class="cover-desc">
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
							<li>TEST TEXT</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<footer id="footer" class="footer">
	<div class="l-wrap">
		<div class="footer-area">
			copyright(c) 2015 All rights reserved by Jeon Geon Gyu
		</div>
	</div>
</footer>
<!-- <script type="text/javascript" src="./static/js/_template.js"></script> -->
<script type="text/javascript" src="./static/js/jquery.js"></script>
<script type="text/javascript" src="./static/js/jquery.tubular.1.0.js"></script>
<script type="text/javascript" src="./static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="./static/js/jquery.gsap.min.js"></script>
<script type="text/javascript" src="./static/js/TweenMax.min.js"></script>
<script type="text/javascript" src="./static/js/ui.js"></script>
<script>
$(function(){
	var $visualBox = $('.section-visual-box'),
		$visual = $('.section-visual-thumb'),
		tl = new TimelineLite;

	$visualBox.one('inview', {offset: 0.8}, function() {

		$visualBox.addClass('is-inview');

		tl
		.set( $visual, {
			rotationY : 90,
			zPercent: -90,
			xPercent: 90
		})
		.set( $visualBox, {
			xPercent: -100
		})
		.to( $visualBox, 1, {
			xPercent: 0,
			ease: Power2.easeOut
		})
		.to( $visual, 1.2, {
			rotationY : 0,
			zPercent: 0,
			xPercent: 0,
			ease: Power2.easeInOut
		},'-=0.2');
	});
})
</script>
</body>
</html>