@charset "utf-8";
body {
  background: #333;
  font-size: 1.4em;
}
@media only all and (min-width: 1280px) {
  body {
    font-size: 1.8em;
  }
}
.header {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 980px;
  z-index: 100;
}
.header .h1 {
  padding: 10px 0;
  font-size: 1em;
  color: #ffcb08;
  text-align: center;
}
@media only all and (max-width: 480px) {
  .header .h1 {
    display: none;
  }
}
.footer {
  overflow: hidden;
  padding: 40px 0;
  color: #ffffff;
  background: #191919;
  border-top: 10px solid #333333;
  border-bottom: 10px solid #333333;
  font-size: 13px;
}
.footer-area {
  float: left;
}
.footer .common-logo {
  float: right;
}
.footer ul {
  overflow: hidden;
  margin: 4px 0;
}
.footer ul li {
  float: left;
}
.footer ul li + li {
  margin-left: 10px;
}
.footer a {
  color: #000000;
}
.gnb {
  padding: 20px 0;
}
.gnb-container {
  position: relative;
  float: right;
  min-width: 480px;
}
.gnb a {
  margin: 10px 20px 10px 20px;
  color: #ffffff;
}
.section-visual {
  position: relative;
}
.section-visual h1.h {
  color: #ffcb08;
  font-size: 4.44em;
  line-height: 1.2;
}
.section-visual h1.h span {
  display: block;
}
.section-visual p {
  margin: 2% 0 0;
}
.section-visual p span {
  display: block;
}
.section-intro {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: #ffcb08;
  background-image: url(../images/a/bg_pattern_b.png);
}
.section-intro [class^="section-intro"] {
  display: table-cell;
  width: 50%;
  padding: 5.3% 4%;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: repeat;
  text-align: center;
  vertical-align: top;
}
.section-intro-myself {
  color: #241909;
  background-color: #ffcb08;
  background-image: url(../images/a/bg_pattern_b.png);
}
.section-intro-myself .intro-title:after {
  background-color: #241909;
  background-color: rgba(36, 25, 9, 0.2);
}
.section-intro-skills {
  color: #ffcb08;
  background-color: #241909;
  background-image: url(../images/a/bg_pattern_w.png);
}
.section-intro-skills .intro-title:after {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.section-intro .info {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}
.section-intro .info-list {
  word-spacing: -6px;
}
.section-intro .info-list.col2 li {
  width: 50%;
}
.section-intro .info-list.col3 li {
  width: 33.33333333%;
}
.section-intro .info-list.col4 li {
  width: 25%;
}
.section-intro .info-list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  word-spacing: 0;
}
.section-intro .info .ubuntu {
  font-size: 3em;
  line-height: 1.2;
}
.section-intro .info .h {
  margin-top: 1em;
}
.section-intro .intro-title {
  position: relative;
  margin-bottom: 3.35%;
  padding-bottom: 3.35%;
}
.section-intro .intro-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 1px;
}
.section-intro .intro-title .title {
  font-size: 1.44em;
}
.section-intro .intro-title .ubuntu {
  font-size: 5.55em;
  line-height: 1.2;
}
.section-intro .intro-title .h {
  margin-top: 3%;
  font-size: 2.66em;
}
.section-letters {
  background-image: url(../images/main/bg_letters.jpg);
  text-align: center;
}
.section-letters .letters-view {
  padding: 6.8% 0;
}
.section-letters .h {
  color: #ffcb08;
  font-weight: normal;
  font-size: 2.66em;
  line-height: 1.2;
}
.section-letters .p {
  color: #ffffff;
}
.section-letters .func {
  margin-top: 4%;
}
.section-letters .icon-quote {
  position: relative;
}
.section-letters .icon-quote:after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-position: -340px 0;
  background-image: url(../images/a/icons.png);
  -webkit-animation: blink 1.5s cubic-bezier(0.2, 0.4, 0.4, 0.9) infinite;
  -moz-animation: blink 1.5s cubic-bezier(0.2, 0.4, 0.4, 0.9) infinite;
  -o-animation: blink 1.5s cubic-bezier(0.2, 0.4, 0.4, 0.9) infinite;
  animation: blink 1.5s cubic-bezier(0.2, 0.4, 0.4, 0.9) infinite;
}
.section-portfolio {
  padding: 4.6% 0 5.2%;
  color: #241909;
  background-color: #ffcb08;
  background-image: url(../images/main/bg_pf.png);
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.section-portfolio-slider {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5% 3.125% 3%;
}
.section-portfolio-slider .bx-wrapper {
  margin: 0 auto;
}
.section-portfolio-item {
  overflow: hidden;
}
.section-portfolio .bx-wrapper {
  border: 5px solid #241909;
}
.section-portfolio .h {
  font-size: 3em;
  font-family: 'UbuntuTitling-Bold', 'Nanum Gothic', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, sans-serif;
  line-height: 1.2;
}
.section-portfolio .portfolio-item {
  overflow: hidden;
  position: relative;
  display: block;
  max-width: 960px;
}
.section-portfolio .portfolio-item img {
  -webkit-transition: transform 1.5s cubic-bezier(0.2, 0.4, 0.4, 0.9);
  -moz-transition: transform 1.5s cubic-bezier(0.2, 0.4, 0.4, 0.9);
  -ms-transition: transform 1.5s cubic-bezier(0.2, 0.4, 0.4, 0.9);
  -o-transition: transform 1.5s cubic-bezier(0.2, 0.4, 0.4, 0.9);
  transition: transform 1.5s cubic-bezier(0.2, 0.4, 0.4, 0.9);
}
.section-portfolio .portfolio-item:hover .cover {
  top: 100%;
}
.section-portfolio .portfolio-item:hover > img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.section-portfolio .cover {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  color: #ffffff;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
  font-size: .8em;
  text-align: center;
  z-index: 10;
  -webkit-transition: top 1s cubic-bezier(0.2, 0.4, 0.4, 0.9);
  -moz-transition: top 1s cubic-bezier(0.2, 0.4, 0.4, 0.9);
  -ms-transition: top 1s cubic-bezier(0.2, 0.4, 0.4, 0.9);
  -o-transition: top 1s cubic-bezier(0.2, 0.4, 0.4, 0.9);
  transition: top 1s cubic-bezier(0.2, 0.4, 0.4, 0.9);
}
.section-portfolio .cover-desc {
  padding: 3% 5%;
  text-align: left;
}
.section-about {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  color: #ffcb08;
}
.section-about [class^="section-about"] {
  display: table-cell;
  width: 50%;
  padding: 5% 1.5625%;
  vertical-align: middle;
}
.section-about-motive {
  color: #241909;
  background-color: #ffcb08;
  background-image: url(../images/a/bg_pattern_b.png);
}
.section-about-motive .effect {
  border-bottom-color: #241909;
  -webkit-text-shadow: 0px 0px 1px #241909;
  -moz-text-shadow: 0px 0px 1px #241909;
  -ms-text-shadow: 0px 0px 1px #241909;
  -o-text-shadow: 0px 0px 1px #241909;
  text-shadow: 0px 0px 1px #241909;
}
.section-about-aspiration {
  color: #ffcb08;
  background-color: #241909;
  background-image: url(../images/a/bg_pattern_w.png);
}
.section-about-aspiration .effect {
  border-bottom-color: #ffcb08;
  -webkit-text-shadow: 0px 0px 2px #ffcb08;
  -moz-text-shadow: 0px 0px 2px #ffcb08;
  -ms-text-shadow: 0px 0px 2px #ffcb08;
  -o-text-shadow: 0px 0px 2px #ffcb08;
  text-shadow: 0px 0px 2px #ffcb08;
}
.section-about .h {
  font-size: 2.66em;
  line-height: 1.2;
}
.section-about .p {
  font-size: .9em;
}
@media only all and (max-width: 1023px) {
  .section-intro {
    display: block;
  }
  .section-intro [class^="section-intro"] {
    display: block;
    width: auto;
  }
  .section-about {
    display: block;
  }
  .section-about [class^="section-about"] {
    display: block;
    width: auto;
  }
  .section-about .p {
    font-size: 1em;
  }
}
@media only all and (max-width: 640px) {
  .section-intro .info-list.col4 li {
    width: 50%;
  }
  .section-about {
    text-align: left;
  }
  .section-about br {
    display: none;
  }
}
.tubular-thumb {
  display: none;
  position: relative;
  padding: 12% 0 5%;
  text-align: center;
}
.tubular-bg {
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.tubular-container {
  height: 0;
  padding-bottom: 56.25%;
}
.tubular-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tubular-shield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: url(../images/a/bg_pattern.png) 0 0 repeat;
  z-index: 2;
}
.tubular-layer {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  margin: -140px auto 0;
  text-align: center;
  color: #ffffff;
  z-index: 100;
}
@media only all and (max-width: 1023px) {
  .tubular-layer {
    margin-top: -75px;
  }
  .tubular-layer h1.h {
    font-size: 3em;
  }
}
.icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-image: url(../images/a/icons.png);
  background-repeat: no-repeat;
  vertical-align: top;
}
.icon.icon-man {
  width: 100px;
  height: 100px;
  background-position: -100px 0;
}
.icon.icon-html {
  width: 100px;
  height: 100px;
  background-position: 0 0;
}
.icon.icon-css {
  width: 100px;
  height: 100px;
  background-position: 0 -100px;
}
.icon.icon-js {
  width: 100px;
  height: 100px;
  background-position: 0 -200px;
}
.icon.icon-rwd {
  width: 100px;
  height: 100px;
  background-position: 0 -300px;
}
.icon.icon-quote {
  width: 50px;
  height: 50px;
  background-position: -340px 0;
}
.bx-wrapper {
  position: relative;
}
.bx-wrapper .bx-controls {
  position: absolute;
  bottom: 3.5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  text-align: center;
}
.section-portfolio .bx-wrapper .bx-controls {
  bottom: -8%;
}
.bx-wrapper .bx-pager-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.bx-wrapper .bx-pager-item a {
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  background-image: url(../images/a/icons.png);
  background-position: -306px -28px;
  background-repeat: no-repeat;
  text-indent: -200%;
}
.bx-wrapper .bx-pager-item a.active {
  background-position: -306px -4px;
}
.section-portfolio .bx-wrapper .bx-pager-item a {
  background-position: -306px -78px;
}
.section-portfolio .bx-wrapper .bx-pager-item a.active {
  background-position: -306px -53px;
}
@media only all and (max-width: 767px) {
  .section-portfolio .bx-wrapper .bx-controls {
    bottom: -35px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
  }
}
.ubuntu {
  display: block;
  font-family: 'UbuntuTitling-Bold', 'Nanum Gothic', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, sans-serif;
}
.effect {
  padding-bottom: 2px;
  border-bottom: 1px dotted #fff;
  -webkit-text-shadow: 0px 0px 10px #ffffff;
  -moz-text-shadow: 0px 0px 10px #ffffff;
  -ms-text-shadow: 0px 0px 10px #ffffff;
  -o-text-shadow: 0px 0px 10px #ffffff;
  text-shadow: 0px 0px 10px #ffffff;
}
@media only all and (max-width: 1023px) {
  .touch .tubular-thumb {
    display: block;
  }
}
#skrollr-body {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 1px;
}
.no-mediaqueries .section-stories .stories-item .cover {
  display: none;
}
.no-mediaqueries .section-stories .stories-item:hover .cover {
  display: block;
}
@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    -o-transform: scale(1);
    opacity: 1;
  }
  100% {
    -o-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
